@mixin column {
  display: flex;
  flex-direction: column;
}

@mixin column-gap-6 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

@mixin column-gap-8 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

@mixin column-gap-12 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

@mixin column-gap-16 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

@mixin column-gap-20 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2xl);
}

@mixin column-gap-24 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3xl);
}

@mixin column-gap-32 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4xl);
}

@mixin column-gap-48 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6xl);
}

@mixin column-gap-64 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-7xl);
}

@mixin row-gap-8 {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-md); 
}

@mixin row-gap-12 {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-lg); 
}

@mixin row-gap-16 {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-xl);
}

@mixin row-gap-32 {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-4xl);
}